*{
    background-color: #cccccc6f;
}
#bx{
    background-image: url(./img/strada.jpg);
    padding: 20px;
    width: 300px;
    height: 70px;
    margin: 0 auto;
    box-shadow:  2px 5px 10px rgba(0,0,0,0.3);
    border-radius: 10px;
    
}

#title {
    color: rgb(255, 255, 255);
    text-align: center;
}
.input {
    border: none;
    outline: none;
    border-radius: 15px;
    padding: 1em;
    background-color: #ccc;
    box-shadow: inset 2px 5px 10px rgba(0,0,0,0.3);
    transition: 300ms ease-in-out;
  }
  
  .input:focus {
    background-color: white;
    transform: scale(1.05);
    box-shadow: 13px 13px 100px #969696,
               -13px -13px 100px #ffffff;
  }
#res{
    font-size: 18px;
    margin: 0 auto;
    text-align: center;
}
#txtvel{
    font-size:20px;
    margin-top: 15%;
}